body {
    background-color: grey;
    margin: 0;
}

#main {
    height: 650px;
    width: 650px;
    background-color: indianred;
    margin-left: auto;
    margin-right: auto;
}

.white {
    height: 12.5%;
    width: 12.5%;
    background-color: white;
    float: left;
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}

.black {
    height: 12.5%;
    width: 12.5%;
    background-color: black;
    float: left;
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: 900;
}