body {
    font-family: sans-serif;
    margin: 0;
}

#root {
    padding: 100px 50px;
    width: 1600px;
    height: 600px;
    background: black;
}

.box {
    height: 400px;
    width: 200px;
    float: left;
    margin: 60px;
    border: 45px solid green;
}

.small {
    height: 130px;
    font-size: 200px;
    color: red;
    float: left;
    margin-top: 25px;
}

.big {
    font-size: 430px;
    color: white;
    font-weight: 600;
    float: left;
}